.box {
    width: 150px;
    height: 150px;
    background: steelblue;
}

.box {
    animation: move 2s forwards;
}

@keyframes move {
    
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(200px);
    }
}